html,
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background: #333333;
    --nav-height: 70px;
}

.wrapper {
    background: #ffffff;
    overflow: auto;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer {
    font-size: 0.85rem;
    padding: 20px 0;
    line-height: 1.6;
}

.footer__text,
.footer__link,
.footer__title {
    color: #aaaaaa;
    padding: 3px 15px;
    display: block;
}

.footer__hr {
    height: 1px;
    border: none;
    background: #444444;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer__section {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    color: #cccccc;
    background: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
    .footer__section { width: 50%; }
}

@media screen and (max-width: 480px) {
    .footer__section { width: 100%; }
}

.nav {
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    background: #009578;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }
  
  .nav__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }
  