.login {
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-self:stretch;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 10%;
}

.image {
    position:relative;
    size:inherit;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-right: -2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid rgba(120, 120, 120, 0.124);
    transition: border 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image:hover {
    border: 2px solid rgba(120, 120, 120, 0.462);
}

.interactions {
    position:relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(120, 120, 120, 0);;
    transition: border 0.5s;
    background-color: rgba(120, 120, 120, 0.041);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.input[type=text] {
    justify-self: center;
    outline: none;
    font-size: 15px;
    margin:10%;
    width:80%;
    border-radius: 8px;
    border: 2px solid rgba(120, 120, 120, 0.124);
    box-sizing: border-box;
    transition: border 0.5s;
}

.input[type=text]:focus {
    border: 2px solid rgba(120, 120, 120, 0.462);
}

.button {
    justify-self: center;
    outline: none;
    font-size: 15px;
    margin:10%;
    width:50%;
    border-radius: 8px;
    border: 2px solid rgba(120, 120, 120, 0.124);
    box-sizing: border-box;
    transition: border 0.5s;
    background-color: rgba(120, 120, 120, 0.124);
}

.button:hover {
    border: 2px solid rgba(120, 120, 120, 0.462);
}

.button:active {
    background-color:rgba(120, 120, 120, 0.462);
}

.link {
    justify-self: center;
    outline: none;
    font-size: 15px;
    margin:10%;
    width:80%;
}